

.holder{
	
	display:flex;
	justify-content:space-between;
	flex-wrap: wrap;
	
}
.first{
	
	border: 1px solid black;
	background-color: red;
	height: 100px;
	width: 100px;
}
/* .second{
	
	border: 1px solid black;
	background-color: red;
	height: 100px;
	width: 100px;
}
.third{
	border: 1px solid black;
	background-color: red;
	height: 100px;
	width: 100px;
}
