

.container{
	display: grid;
	 justify-content: space-between;
	grid-template-columns: repeat(auto-fill, 105px);
	
}
.first{
	display: flex;
	justify-content: space-between;
	border: 1px solid black;
	background-color: red;
	height: 100px;
	width: 100px;
}
/* .second{
	display: grid;
	justify-content: space-between;
	border: 1px solid black;
	background-color: red;
	height: 100px;
	width: 100px;
}
.third{
	border: 1px solid black;
	background-color: red;
	height: 100px;
	width: 100px;
}
